<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BadMonster.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{142,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,149}}</string>
                <key>sourceSize</key>
                <string>{142,149}</string>
            </dict>
            <key>GoodMonster.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,153},{166,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,172}}</string>
                <key>sourceSize</key>
                <string>{166,172}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Monsters.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5b6b9f6ad8231592d668666433063cab$</string>
            <key>textureFileName</key>
            <string>Monsters.png</string>
        </dict>
    </dict>
</plist>
